<div class="col">
  <div class="card mb-3 shadow-sm">
    <h3 class="card-header"><%=item.name%></h3>
    <%= image_tag(item.image_url) %>
    <div class="card-body">
      <p class="card-text"><%= item.description%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-center">
        <h3><%= item.price%>€ </h3>
 </li>
    </ul>
    <div class="card-body">
      <%= link_to "Show this item", item_path(item), class: "btn btn-primary d-flex justify-content-center" %>
    </div>
  </div>
</div>
