<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="col-sm-4">
    <%= render partial: "item", layout: "shared/card_layout", locals: { item: @item }  %>
  </div>
  <div class="col-sm-8">
  <h2>Editer/supprimer</h2>
   <div class="d-flex justify-content-center">
      <%= link_to "Edit this item", edit_item_path(@item), class: "btn btn-warning mr-5" %>
      <%= button_to "Destroy this item", @item, method: :delete, class: "btn btn-danger ml-2" %>
    </div>
  <h2>Ajouter une photo avec Active Storage</h2>
    <div class="d-flex justify-content-center">
      <%= form_tag item_cat_images_path(@item), multipart: true do %>
        <%= file_field_tag :catimage, class: "form-control" %>
        <br>
        <%= submit_tag "uploader l'image", class: "btn btn-primary" %>
      <% end %>
    </div>
    <br>
  </div>
</div>
