<!DOCTYPE html>
<html>
  <head>
    <title>ProjetChatons</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track" => "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
            <ul class="navbar-nav float-end">
              <% if user_signed_in? %>
                <li>
                  <%= button_to "Sign out", destroy_user_session_path, class:"btn btn-secondary", method: :delete %>
                </li>
              <% else %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Connexion</a>
                  <div class="dropdown-menu">
                    <%= button_to "SignUp", new_user_registration_path, class:"dropdown-item" %>
                    <%= button_to "LogIn", new_user_session_path, class:"dropdown-item" %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <%= yield %>
      <br>
      <br>
      <br>
      <br>
      <footer id="footer">
        <div class="row">
          <div class="text-center col-lg-12">
            <ul class="list-unstyled">
              <li class="float-end"><a href="#top">Back to top</a></li>
            </ul>
            <br>
            <hr class="hr" />
            <p>Made by The Fantastiks 5</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE%22%3EMIT">License</a>.</p>
            <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://icons.getbootstrap.com/" rel="nofollow">Bootstrap Icons</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
